.popular-persons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .person_card {
      width: 170px;
      text-align: start;
      margin: 10px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      .person_card__container {
        padding: 5%;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .name {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          color: #333;
        }

        .known_for {
          margin: 5px 0 0;
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
}
