@if (movie()) {
<movie-movie-hero [movie]="movie" />
<main class="flex">
  <div class="main_section">
    <movie-movie-cast [cast]="cast" />
    @if (recommendation.length>0) {
    <shared-recommendation-carousel [recommendation]="recommendation" />
    }
  </div>

  <section class="movie-details">
    <movie-movie-info
      [original_title]="movie()!.original_title"
      [original_language]="movie()!.original_language"
      [status]="movie()!.status"
      [budget]="movie()!.budget"
      [revenue]="movie()!.revenue"
      [homePage]="movie()!.homepage"
      [keywords]="keyWords"
    />
  </section>
</main>
}
