<section class="home_sections">
  <div class="home_sections__header">
    <h2>Lo mas popular</h2>

    <div class="home_sections__header__sub">
      <button
        (click)="changeCategory(popularTimeCategory.Tv)"
        [ngClass]="{ active: currentCategory === popularTimeCategory.Tv }"
      >
        En television
      </button>
      <button
        (click)="changeCategory(popularTimeCategory.Movie)"
        [ngClass]="{ active: currentCategory === popularTimeCategory.Movie }"
      >
        Peliculas
      </button>
    </div>
  </div>
  <div class="movies_section">
    <div class="movie_card_wrapper">
      @for (movie of movies(); track movie.id) {
      <home-movie-card-home [movie]="movie" />
      }
    </div>
  </div>
</section>
